{% extends 'base.html.twig' %}
{% block body %}
<button><a href="{{ path('admin_article') }}">Afficher le(s) Article(s)</a></button>

    <h1> Modifier un Article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}